* {
  box-sizing: border-box;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: #F2F3F5;
}
.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.fb-p-card {
  width: 500px;
  margin-bottom: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  color: rgb(28, 30, 33);
  font-size: 15px;
  line-height: 26px;
  max-width: 500px;
  background: #fff;
}

.fb-p-card-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.fb-p-card-header > img {
  border-radius: 50%;
}

.c-black {
 color: rgb(28, 30, 33);
 font-weight: 600; 
 text-decoration: none;
}

.stat {
  color: rgb(101, 103, 107);
  font-size: 15px;
  font-weight: 500;
}

.c-black-msg {
 color: rgb(28, 30, 33);
 text-decoration: none;
}

.c-black-msg:hover {
  text-decoration: underline;
}

.rounded-3c, .rounded {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  /*background: #ccc;*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.rounded-3c:hover {
  background: #ccc;
  transition: background 0.3s ease;
}

.rounded-3c div {
  width: 4px;
  height: 4px;
  background: #555;
  border-radius: 50%;
}

.fb-p-card-content img {
  width: 100%;
}

.fb-p-card-actions > * {
  padding: 4px 8px;
  margin: 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-icons span {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.like-icons span img {
  margin: 1px;
}

.like-icons span:first-child {
  background-color: rgb(24, 119, 242);
}

.like-icons {
  display: flex;
}

.fb-like-ico {
  width: 18px;
  height: 18px;
  background-position: 0 -235px;
}

.fb-comment-ico {
  width: 18px;
  height: 18px;
  background-position: 0 -197px;
}

.fb-share-ico {
  width: 18px;
  height: 18px;
  background-position: 0 -254px;
}

.fb-icon-bundle {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/m06krdND8tO.png);
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}



.fb-p-card-actions-action-btns {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; 
}
.fb-p-card-actions-action-btns > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 33%;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.fb-p-card-actions-action-btns > div:hover {
  background: #DADDE1;
}

.commented {
  background-color: rgb(240, 242, 245);
  padding: 10px;
  border-radius: 18px;
  display: inline-block;
}

.flex-start {
  justify-content: flex-start;
}

.gapper {
  gap: 1rem;
}

.commented-action {
  display: flex;
  padding-top: 5px;
  gap: 0.3rem;
}

.commented-action > * {
  color: rgb(101, 103, 107);
  text-decoration: none;
  font-weight: 700;
}

.commented-action > *:hover {
  text-decoration: underline;
}

.post-message {
  white-space: pre-wrap;
}
.contentContainer{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%; height: 0%;
  padding-top: 3%;
  padding-bottom: 0%;
}
.boxContainer{
  width: 410px;
  height: 140px;
  margin: 0 auto;
  text-align: right;
  padding-top: 40px;
  background-color: #FFFFFF;
}
div.lineSplit{
  width:371px;
  height: 1px;
  margin-left: 20px;
  background: #dcdee3;
}
div.lineSplit:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -8.5px;
    margin-left: 20px;
}
div.lineSplit:before {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #dcdee3 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -10px;
    margin-left: 20px;
}
.message{
  height: 50px;
  width: 320px;
  resize: none;
  border: none;
  font-size: 14px;
  padding-top: 30px;
  padding-left: 55px;
  padding-right: 30px;
  border-bottom: 1px solid #dcdee3;
}
.message:focus{
  outline: none;
}
.postButton{
  width: 65px;
  height: 30px;
  border: none;
  float: right;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  margin: 10px 10px 0 0;
  background-color: #4e69a2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.postButton:hover,.postButton:visited{
  outline: none;
}
.postButton:visited{
  outline: none;
  box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
}
.postButton:active{
  background-color: #3B5998;
  border-color: #2f477a #314a7f #334c83; 
  box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
}